.button {
	padding: 9px 12px;
	background: #2c5f91;
	cursor: pointer;
	transition: 0.3s;
	border-radius: 5px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #fff;
	height: 40px;
}
.button:hover {
	background: #2075be;
}

.button:disabled {
	background: #113552;
}

.current {
	font-weight: bold;
	margin: 0 10px;
}

.page_wrapper {
	width: fit-content;
	margin: 35px auto 0;
	display: flex;
	align-items: center;
}
.page_list_wrapper {
	width: fit-content;
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.page {
	border-radius: 5px;
	margin: 0 4px;
	padding: 10px;
	border: 1px solid #2c5f91;
	cursor: pointer;
}

.page_current {
	border: 2px solid #2075be;
	font-weight: bold;
}
